#battery{
    width: 100px;
    height: 50px;
    border: 5px solid;
    border-radius: 10% / 20%;
    position: relative;

}

#battery::after , #battery::before{
    content: "";
    position: absolute;
    background-color: black;
}

#battery::after{
    height: 20px;
    width: 10px;
    left: 101px;
    bottom: 16px;
    border-radius: 0% 50% 50% 0%;
}

#battery::before{
    width: 30px;
    height: 45px;
    top: 2.4px;
    left: 2.4px;
    border-radius: 10% / 20%;
}